*{
    margin:0px;
    padding:0px;
    font-family:arial;
    vertical-align:top;
}

.image1{
    width:300px;
    margin-bottom:0px;
    margin-top:0px;
   


}

.circleimage{
    width:40px;
    border-radius:20px;
    margin-top:0px;
    margin-top:8px;
    

}

.sundar-grid{
    display:inline-block;
    display:grid;
    grid-template-columns:50px 1fr;
     column-gap: 10px;
  width: 300px;
}


.image1 {
  width: 100%;
  grid-column: 1 / 3;
}

.circleimage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
}

.video-info {
  margin-top: 10px;
}

.text {
  margin-top: 0;
  margin-bottom: 10px;
}

.marques,
.million {
  margin: 0;
  font-size: 13px;
  color: gray;
}

.find{
    display:inline-block;
   margin-left:463px;
   margin-top:-33px;
   background-color: silver;
   padding-left:10px;
   background:rgb(235, 233, 233);
   padding-top:5px;
   padding-right:19px;
   padding-bottom:2.0px;
   vertical-align:center;
   text-align:center;
   
   border:1px solid silver;



}  